
.input-container, .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
    color: black;
  }
  
.button1 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #314985;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background: #0072ff;
  }
  
  /* Error message */
  .error {
    color: #ff6b6b;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Weather details */
  .weather-details {
    text-align: center;
    /* background-color: #2C3E50; */
    /* color: #ECF0F1; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .weather-details h1 {
    margin: 10px 0;
    font-size: 28px;
  }
  
  .weather-details p {
    margin: 5px 0;
    font-size: 18px;
  }
  
  .weather-details .temperature {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .weather-details .condition {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .weather-details .info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .weather-details .info div {
    text-align: left;
  }
  
  .weather-details .info div p {
    margin: 5px 0;
  }
  