.dark {
  background-color: #1a202c; /* Dark grey for dark mode */
  color: white;
}

/* App.css or another CSS file */
.App {
  font-family: 'Arial', sans-serif;
}

.bg-blue-600:hover {
  background-color: #2563eb; /* Tailwind color for hover state */
}

/* Adjust the space between sections */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }


  .max-w-md {
    max-width: 100%; /* Use full width for the content section on smaller screens */
  }
}
